
.b1{
    margin-left: 35%;

}
@media (max-width: 991px) {
    .b1{
    /* Margin to fix overlapping fixed navbar */
    margin-left: 15%;
}
}

.date{
    display:inline-flexbox;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid red;
}

#time{
    display:inline-flexbox;
    margin: 10px;
}