{% extends 'movies/base.html' %}
{% load static %}
{% block link %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet'>
<link  href={% static 'movies/seatselect.css' %} rel="stylesheet">
{% endblock link %}
{% block content %}
  <body  style="background: linear-gradient(to bottom, #000066 0%, #3366ff 100%) ;">
  {%include 'movies/navbar.html'%}
  <div class="heading">
    {% if movie_name %}
    <h1 style="color:white;font-family: 'Graduate';">{{movie_name}}</h1>
      {% endif %}
    <h2 style="color:white;font-family: 'Graduate';">{{theater}}</h2>
    <h2 style="color:white;font-family: 'Graduate';">{{date}}</h2>
    <h2 style="color:white;font-family: 'Graduate';">{{time}}</h2>
    <div>
    
     
  
      
    
    <div class="seatStructure">
    <center>
      {% if error %}
      <div class="alert alert-danger" role="alert">
        Please select seats and confirm ,before booking
      </div>
      {% endif %}
      
    <table id="seatsBlock" style="color:white;font-family: 'Graduate';">
     <p id="notification"></p>
      <tr>
        <td colspan="14"><div class="screen" style="color:white;font-family: 'Graduate';">SCREEN</div></td>
        <td rowspan="20">
          <div class="smallBox greenBox" style="color:white;font-family: 'Graduate';">Selected Seat</div> <br/>
          <div class="smallBox redBox" style="color:white;font-family: 'Graduate';">Reserved Seat</div><br/>
          <div class="smallBox emptyBox" style="color:white;font-family: 'Graduate';">Empty Seat</div><br/>
        </td>
        
        <br/>
      </tr>
      
      <tr>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td></td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
    </tr>
      
    <tr style="padding:10%">
        <td>A</td>
        <td><input type="checkbox" class="seats" id="A1"  value="A1"></td>
        <td><input type="checkbox" class="seats" id="A2" value="A2"></td>
        <td><input type="checkbox" class="seats" id="A3" value="A3"></td>
        <td><input type="checkbox" class="seats" id="A4" value="A4"></td>
        <td><input type="checkbox" class="seats" id="A5" value="A5"></td>
        <td class="seatGap"></td>
        <td><input type="checkbox" class="seats" id="A6" value="A6"></td>
        <td><input type="checkbox" class="seats" id="A7" value="A7"></td>
        <td><input type="checkbox" class="seats" id="A8" value="A8"></td>
        <td><input type="checkbox" class="seats" id="A9" value="A9"></td>
        <td><input type="checkbox" class="seats" id="A10" value="A10"></td>
        <td><input type="checkbox" class="seats" id="A11" value="A11"></td>
        <td><input type="checkbox" class="seats" id="A12" value="A12"></td>
      </tr>
      
      <tr>
        <td>B</td>
        <td><input type="checkbox" class="seats" id="B1" value="B1"></td>
        <td><input type="checkbox" class="seats" id="B2" value="B2"></td>
        <td><input type="checkbox" class="seats" id="B3" value="B3"></td>
        <td><input type="checkbox" class="seats" id="B4" value="B4"></td>
        <td><input type="checkbox" class="seats" id="B5" value="B5"></td>
        <td></td>
        <td><input type="checkbox" class="seats" id="B6" value="B6"></td>
        <td><input type="checkbox" class="seats" id="B7" value="B7"></td>
        <td><input type="checkbox" class="seats" id="B8" value="B8"></td>
        <td><input type="checkbox" class="seats" id="B9" value="B9"></td>
        <td><input type="checkbox" class="seats" id="B10" value="B10"></td>
        <td><input type="checkbox" class="seats" id="B11" value="B11"></td>
        <td><input type="checkbox" class="seats" id="B12" value="B12"></td>
      </tr>
      
      <tr>
        <td>C</td>
        <td><input type="checkbox" class="seats" id="C1" value="C1"></td>
        <td><input type="checkbox" class="seats" id="C2" value="C2"></td>
        <td><input type="checkbox" class="seats" id="C3" value="C3"></td>
        <td><input type="checkbox" class="seats" id="C4" value="C4"></td>
        <td><input type="checkbox" class="seats" id="C5" value="C5"></td>
        <td></td>
        <td><input type="checkbox" class="seats" id="C6" value="C6"></td>
        <td><input type="checkbox" class="seats" id="C7" value="C7"></td>
        <td><input type="checkbox" class="seats" id="C8" value="C8"></td>
        <td><input type="checkbox" class="seats" id="C9" value="C9"></td>
        <td><input type="checkbox" class="seats" id="C10" value="C10"></td>
        <td><input type="checkbox" class="seats" id="C11" value="C11"></td>
        <td><input type="checkbox" class="seats" id="C12" value="C12"></td>
    </tr>
      
    <tr>
        <td>D</td>
        <td><input type="checkbox" class="seats" id="D1" value="D1"></td>
        <td><input type="checkbox" class="seats" id="D2" value="D2"></td>
        <td><input type="checkbox" class="seats" id="D3" value="D3"></td>
        <td><input type="checkbox" class="seats" id="D4" value="D4"></td>
        <td><input type="checkbox" class="seats" id="D5" value="D5"></td>
        <td></td>
        <td><input type="checkbox" class="seats" id="D6" value="D6"></td>
        <td><input type="checkbox" class="seats" id="D7" value="D7"></td>
        <td><input type="checkbox" class="seats" id="D8" value="D8"></td>
        <td><input type="checkbox" class="seats" id="D9" value="D9"></td>
        <td><input type="checkbox" class="seats" id="D10"value="D10"></td>
        <td><input type="checkbox" class="seats" id="D11" value="D11"></td>
        <td><input type="checkbox" class="seats" id="D12" value="D12"></td>
    </tr>
      
    <tr>
        <td>E</td>
        <td><input type="checkbox" class="seats" id="E1" value="E1"></td>
        <td><input type="checkbox" class="seats" id="E2" value="E2"></td>
        <td><input type="checkbox" class="seats" id="E3" value="E3"></td>
        <td><input type="checkbox" class="seats" id="E4" value="E4"></td>
        <td><input type="checkbox" class="seats" id="E5" value="E5"></td>
        <td></td>
        <td><input type="checkbox" class="seats" id="E6" value="E6"></td>
        <td><input type="checkbox" class="seats" id="E7" value="E7"></td>
        <td><input type="checkbox" class="seats" id="E8" value="E8"></td>
        <td><input type="checkbox" class="seats" id="E9" value="E9"></td>
        <td><input type="checkbox" class="seats" id="E10" value="E10"></td>
        <td><input type="checkbox" class="seats" id="E11" value="E11"></td>
        <td><input type="checkbox" class="seats" id="E12" value="E12"></td>
    </tr>
      
    <tr class="seatVGap"></tr>
      
    
      
      
    </table>
      
    <br/><button class="btn btn-success" onclick="updateTextArea()">Confirm Selection</button>
    </center>
    </div>
          
    <br/><br/>
    
    <div class="displayerBoxes">
    <center>
      
      <table class="Displaytable" style="background:white">
      <tr>
        
        
        <th style="color:black">Seats</th>
      </tr>
      <tr>
       
        
        <td><textarea id="seatsDisplay"></textarea></td>
      </tr>
    </table>
    </center>
    </div>
   
    <form method='post' action="{%url 'seatselected'%}">
      {% csrf_token %}
        <input type="hidden" value="{{movie_name}}" name="movie_name">
        <input type="hidden" id="input1" value="{{theater}}"name="theater">
        <input type="hidden" id="input2" value="{{date}}"name="date">
        <input type="hidden" id="input3" value="{{time}}"name="time">
        <input type="hidden" id="input" name="seatselected">
        
        <button type="hidden" id="paybutton" class="btn btn-danger">Book Now</button>
        
    </form>
    

   
  </div>
</div>

     <script>
      var a={{ booked_seats|safe }}
      
      for(var i = 0; i < a.length; i++){
              console.log(a[i])
              var b=a[i]
              document.getElementById(b).disabled = true;
              
          };
      

    </script> 
     
    <script src={% static 'movies/seatselect.js' %}></script>
   
      <!-- new -->
    {%include 'movies/footer.html'%}
  </body>
  {% endblock content %}